{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools-items %}
  {{ block.super }}
{% endblock %}

{% block result_list %}
  <div class="notice-time-filters">
    <h3>Filter by Time Period:</h3>
    <div class="filter-links">
      {% for period in time_periods %}
        <a href="{{ period.url }}" 
           class="filter-link {% if request.GET.time_period == period.url|slice:'-5:' %}active{% elif period.name == 'All' and not request.GET.time_period %}active{% endif %}"
        >{{ period.name }}</a>
      {% endfor %}
    </div>
  </div>
  {{ block.super }}
{% endblock %}

{% block pagination %}
  {{ block.super }}
{% endblock %} 